body,ul,li,h1,h2,h3,h4,h5,h6,form,input,ol{
  margin: 0;
  padding:0;
}
img{
  border:none;
}
body{
  overflow:hidden;
  background:url(14.jpg)no-repeat ;
  z-index: 500;
}

.tupian img{
position: absolute;
  top:0;
  right:0;
  z-index:-5;
}

%center{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}
$width:600px;
.container{
  @extend %center;
  width:100%;
  height:100%;
  background:  url(12.jpg)no-repeat center center;
  position-size:900px 900px;

.qipan{
  @extend %center;
  background: rgba(129, 155, 68, 0.51);
  opacity:0.8;
  width:$width;
  height:$width;
}
}
.hang{
  display:block;
  position:absolute;
  left:$width/30;
  height:2px;
  background:#fff;
  width:$width - $width/15;

}
.shu{
  display:block;
  position:absolute;
  top:$width/30;
  width:2px;
  background:#fff;
  height:$width - $width/15;

}





.qizi{
  position:relative;
  z-index:100;
  float:left;
  width:$width/15-10px;
  height:$width/15-10px;
  margin:5px;
  border-radius:50%;
}
.qizi.bai{
  background: #fff;

}
.qizi.hei{
  background:black;
}
@for $i from 0 through 14{
  .qipan i:nth-of-type(#{$i+1}){
    top:$width/30+$i*$width/15;
  }
}
@for $j from 0 through 14{
  .qipan b:nth-of-type(#{$j+1}){
    left:$width/30+$j*$width/15;
  }
}

.jianshao{
  width: 150px;
  height:40px;
  background: rgba(129, 155, 68, 0.51);;
  z-index: 10;
  color:#fff;
  position: absolute;
  top:50px;
  left:50px;
  text-align:center;
  line-height:40px;
  border-radius:6px;
  cursor:pointer;
  transition:all 0.2s ease;
  transform:translateX(-100%);
  animation:pao 2s linear;
  animation-delay:0.2s;
  animation-fill-mode:forwards;
  opacity:0;
}
@keyframes pao{
  0%{
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(0);
    opacity:1;
  }
}
.jianshao p{
  transition:all 1s ease;
  transform:translateX(-100%);
  animation:pao 3s linear;
  animation-delay:0.3s;
  animation-fill-mode:forwards;
  opacity:0;
  font-size: 14px;
}

.anniu{
  width: 150px;
  height:40px;
  background: rgba(129, 155, 68, 0.51);;
  z-index: 10;
  color:#fff;
  position: absolute;
  top:250px;
  left:50px;
  text-align:center;
  line-height:40px;
  border-radius:6px;
  cursor:pointer;
  transition:all 0.2s ease;
  transforme:translateX(100%);
  animation:zai 2s linear;
  animation-delay:0.2s;
  animation-fill-mode:forwards;
  opacity:0;
}
@keyframes zai{
    0%{
      transform:translateX(-100%);
    }
  100%{
    transform:translateX(0);
    opacity:1;
  }
}
.luozi{
  width: 150px;
  height:40px;
  background: rgba(129, 155, 68, 0.51);;
  z-index: 10;
  color:#fff;
  position: absolute;
  top:320px;
  right:0px;
  text-align:center;
  line-height:40px;
  border-radius:6px;
  cursor:pointer;
  transition:all 0.2s ease;
  transforme:translateX(100%);
  animation:zai 2s linear;
  animation-delay:0.2s;
  animation-fill-mode:forwards;
  opacity:0;
}
.renji{
  width: 150px;
  height:40px;
  background: rgba(129, 155, 68, 0.51);;
  z-index: 10;
  color:#fff;
  position: absolute;
  top:320px;
  left:50px;
  text-align:center;
  line-height:40px;
  border-radius:6px;
  cursor:pointer;
  transition:all 0.2s ease;
  transforme:translateX(100%);
  animation:zai 2s linear;
  animation-delay:0.2s;
  animation-fill-mode:forwards;
  opacity:0;
}
.renren{
  width: 150px;
  height:40px;
  background: rgba(129, 155, 68, 0.51);;
  z-index: 10;
  color:#fff;
  position: absolute;
  top:380px;
  left:50px;
  text-align:center;
  line-height:40px;
  border-radius:6px;
  cursor:pointer;
  transition:all 0.2s ease;
  transforme:translateX(100%);
  animation:zai 2s linear;
  animation-delay:0.2s;
  animation-fill-mode:forwards;
  opacity:0;
}













